<div class="main">
  <h2><span>Próximos</span> eventos:</h2>
  <div class="hottest-events-container">
    <div class="events-carousel">
      <ion-card class="event-item" *ngFor="let event of upcomingEvents">
        <img alt="Imagem do Evento" [src]="event.Imagem || '../../../../assets/no-image.svg'" />
        <ion-card-header>
          <ion-card-title>{{event.Nome}}</ion-card-title>
          <ion-card-subtitle>{{event.DataEvento | date}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{event.Organizador}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="others-events-container">
    <h3>Recomendados para você:</h3>
    <div class="events-container">
      <div class="event-item" *ngFor="let event of othersEvents">
        <div class="image-container">
          <img [src]="event.Imagem || '../../../../assets/no-image.svg'" alt="Imagem do Evento">
        </div>
        <div class="content-container">
          <span>{{event.DataEvento | date}}</span>
          <h4>{{event.Nome}}</h4>
          <p>{{event.Organizador}}</p>
        </div>
      </div>

      <div class="spinner" *ngIf="isLoading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </div>
  </div>
</div>