<div class="main" *ngIf="!isLoading">
  <div class="body-status">
    <div class="body-title">
      <img [src]="user.fotoPerfil || '../../../../assets/no-image.svg'" alt="Foto de perfil do autor da publicação">
      <div class="title-name">
        <h4>{{user.Nome}}</h4>
        <p>{{user.Usuario}}</p>
      </div>
    </div>

    <div class="line-1">
      <div class="round">
        <ion-icon name="medal-outline"></ion-icon>
        <div class="data">
          <span style=" font-size: 17px;">{{user.pontuacao}}</span>
          <span style=" font-size: 12px; color: #748e97; width: 12rem;">Pontos nessa rodada</span>
        </div>
      </div>

      <div class="total-points">
        <ion-icon name="podium-outline"></ion-icon>
        <div class="data">
          <span style=" font-size: 17px;">{{user.pontuacao}}</span>
          <span style=" font-size: 12px; color: #748e97; width: 9rem;">Pontos no total</span>
        </div>
      </div>
    </div>
  </div>

  <div class="title-conquest">
    <span>Conquistas</span>
  </div>

  <div class="body-conquest">
    <div class="conquests">
      <div class="conquests-item" *ngFor="let conquest of user.dadosConquista  | slice:0:3">
        <span class="title">{{conquest.Nome}}</span>
        <span class="sub-title">{{conquest.Descricao}}</span>
      </div>
      <div class="open" *ngIf="user.dadosConquista.length > 3">
        <button>Ver mais {{user.dadosConquista.length - 3}}
          <div class="icon">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </button>
      </div>
      <ng-template class="no-conquest" [ngIf]="!user.dadosConquista">
        <p>Esse usuário não tem conquistas para mostrar</p>
      </ng-template>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <ion-spinner name="crescent"></ion-spinner>
</div>